@media only screen and (max-width: 800px) {
  div.info {
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5rem;
  }
}

.main {
  position: absolute;
  top: var(--Top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -11;
  padding: calc(var(--Padding) * 2);
}

/* contenido del usuario */
.page_cont {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* titulo de la pagina */
.tittle {
  pointer-events: none;
  user-select: none;
  color: white;
}

/* div informacion del la venta / cliente */
.info {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 1rem;

  color: white;
  font-size: 1.3rem;
}

#imprimir {
  flex-direction: row;
  float: initial;
}

#label_pdf {
  margin-right: 5rem;
}

.input {
  display: flex;
  flex-direction: row;
}

.input_venta {
  display: flex;
  align-items: flex-end;
  width: 100%;

  padding: 1.2rem;
}

#id_venta {
  bottom: 0;
}

/* div datos del cliente */
.client {
  border: 1px solid var(--ColorSecundario);
  padding: 1.2rem;
  border-radius: 1rem;
}

.client_info {
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorPrincipal);
  border-radius: 1rem;

  font-size: 1.3rem;
  width: 80%;
  padding: 0 0.5rem;
}

#first {
  margin-bottom: 1rem;
}

#p_nom {
  margin-right: 1rem;
}
#p_mail {
  margin-right: 1.6rem;
}

#venta {
  width: auto;
}

.Bottom {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

/* div botones de guerdar / eliminar */
.TOTAL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;

  color: white;
}

.TOTAL p {
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1.3rem;
  background-color: var(--ColorSecundario);
  border: 1px solid var(--ColorPrincipal);
  border-radius: 0.6rem;

  color: #3e4078;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2rem;

  cursor: pointer;
}

.cantidad {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 3px;

  font-size: initial;
}

.cantidad:hover {
  border: 1px solid var(--ColorPrincipal);
  background: white;
}

.cantidad:focus {
  background: white;
}

.icon_change {
  cursor: pointer;
  color: var(--ColorPrincipal);
}

.icon_change:hover {
  color: green;
}

.borrar {
  border: none;
  background: none;

  font-size: 1rem;

  cursor: pointer;
}

.borrar:hover {
  color: red;
}

.btn:hover {
  background-color: var(--ColorPrincipal);
  color: var(--ColorSecundario);
  border-color: var(--ColorSecundario);
}

.table {
  padding: var(--Padding);
}

thead {
  background-color: var(--ColorSecundario);
}

td {
  background-color: var(--ColorSecundario);
}

.hidden {
  opacity: 0;
  display: none;

  font-size: 20rem;
}
