.main {
  position: absolute;
  top: var(--Top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -11;
  padding: calc(var(--Padding) * 2);
}

.info img {
  max-width: 300px;
  max-height: 350px;

  background-color: var(--ColorSecundario);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  margin-bottom: 0.5rem;
}

.info h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.info b {
  font-weight: bold;
}

.info {
  color: var(--ColorSecundario);
}
