select {
  border-radius: 20px;
  font-size: 12pt;
  padding: 5px 10px;
}
h1 {
  font-weight: bold;
}
table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

form li + li {
  margin-top: 1em;
}

.contenedor-interaccion {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.contenedor-inputs {
  width: 40%;
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.contenedor-inputs form {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
}

.contenedor-inputs form > * {
  margin-top: 15px;
  width: 100%;
}

.contenedor-interaccion .contenedor-exports {
  color: white;
}

.contenedor-exports .contenedor-iconos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contenedor-exports .contenedor-iconos > a {
  color: white;
  text-decoration: none;
  font-size: 50pt;
  cursor: pointer;
}

img:hover {
  background-color: rgb(89, 195, 195);
  padding: 1%;
  border-radius: 20px;
}

/* #ventasT{
    float: right;
} */

#btnGenerar {
  width: 50%;
  font-size: 12pt;
  color: #3e4078;
  padding: 2%;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10px;
  min-width: 150px;
  cursor: pointer;
}

#btnGenerar:hover {
  background-color: #3e4078;
  color: white;
}
