/*
body {
  background-color: var(--ColorPrincipal);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}*/

.main {
  margin-top: var(--Top);
  padding: var(--Padding);
}

.main .contenedor-app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  margin-top: var(--Margin);
}

/*media query para hacer responsive el contenedor de app */
@media (max-width:600px) {
  .main .contenedor-app {
    display: flex;
    flex-direction: column-reverse;

  }

}


.main h1 {
  color: var(--ColorSecundario);
  font-weight: 600;
}
.main .contenedor-form {
  width: 100%;

}

.main .contenedor-form {
  display: flex;
  flex-direction: column;
  border: var(--border) solid var(--ColorSecundario);
  padding: var(--Padding);
  border-radius: var(--BorderRadius);
  position:relative;
}

.main .contenedor-form label {
  color: var(--ColorSecundario);
  font-weight: 500;
}

.main .contenedor-form input ,.main .contenedor-form textarea{
  outline: none;
  border: none;
  padding: var(--Padding);
  border-radius: var(--BorderRadius);
  background-color: var(--ColorSecundario);
}
.main .contenedor-form button {
  outline: none;
  padding:var(--Padding);
  margin-top: var(--Margin);
  border-radius: var(--BorderRadius);

  font-weight: 600;
  cursor: pointer;
  transition: all .3s;
  background-color: var(--ColorPrincipal);
  color: var(--ColorSecundario);
  border: var(--border) solid var(--ColorSecundario);
  width: 150px;
  
}
/*media query para centrar button submit del form */
@media (max-width:600px) {
  .main .contenedor-form button {
    align-self: center;

  }

}



.main .contenedor-form button:hover {
  background-color: var(--ColorSecundario);
  color: var(--ColorPrincipal);
    border: var(--border) solid transparent;
}

.main .contenedor-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main  .contenedor-imagen .imagen {
  width: 150px;
    height: 150px;
  border: var(--border) solid var(--ColorSecundario);
  border-radius: var(--BorderRadius);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}


.main  .contenedor-imagen .imagen img {
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.main .contenedor-imagen button {
  margin-top: var(--Margin);
  padding: var(--Padding);
  border: var(--border) solid var(--ColorSecundario);
  background-color: var(--ColorPrincipal);
  font-weight: 600;
  color: var(--ColorSecundario);
  border-radius: var(--BorderRadius);
  cursor: pointer;
  transition: all .3s;
  width: 150px;
}
.main .contenedor-imagen button:hover {
  background-color: var(--ColorSecundario);
  color: var(--ColorPrincipal);
}


#agregarImagen {
  opacity: 0;
  pointer-events: none;
  position: fixed;
}

/* CLASE PARA BTN REGISTRO PARA DESHABILITARLO */
.deshabilitarBtnRegistro {
  pointer-events: none !important;
  opacity: .6 !important;
}
