body {
  background-color: var(--ColorPrincipal);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#prin {
  margin: 8%;
}

#im1 {
  float: right;
}

#dataFF {
  /* Centrar el formulario en la página */
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2em;
  float: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
}

#name,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em Roboto;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
  border-radius: 20px;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

#btn {
  margin-left: 8%;
}

#but {
  background-color: white;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  font-size: 20px;
  color: var(--ColorPrincipal);
  margin-top: 20%;
}

#but:hover {
  background-color: #00a2ff;
}

#text2 {
  width: 600px;
  height: 300px;
}

#btn2 {
  display: block;
  margin-left: 100%;

  margin-top: 2%;
  background-color: white;
  width: 120%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
  font-size: 20px;
  color: var(--ColorPrincipal);
}

#area {
  float: right;
  margin-right: 25%;
}

#btn2:hover {
  background-color: #00a2ff;
}

#btn1 {
  display: none;
}
#areaImagen {
  padding: 160%;

  border-radius: 20px;
  background-color: white;
}
