.main {
  position: absolute;
  top: 104.17px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* CSS PARA LA BARRA DE BUSQUEDA */
.search {
  display: flex;

  /*DISPOSICION DEL CONTENEDOR*/
  margin: 1rem;
  justify-content: flex-start;
  align-items: center;

  gap: 2%;
  color: white;
}

.search {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.input_search {
  width: 30%;
  position: relative;
}

.icon_search {
  position: absolute;
  right: 3px;
  margin-top: 0.3rem;
  font-size: 1.3rem;

  background: none;
  border: none;

  padding: 0.15rem;
  cursor: pointer;
}

.text {
  height: 10%;
  width: 100%;

  border-radius: 0.5rem;

  font-family: inherit;
  font-size: 18px;
  color: white;
  outline: none;

  padding: 0.15rem;
  background-color: --ColorSecundario;
  color: black;
}

/* CSS PARA EL CARRITO DE COMPRAS */
.menu {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.carrito_icon {
  font-size: 2rem;
  color: var(--ColorSecundario);

  position: relative;
}

.notification {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -2px;
  right: -10px;

  opacity: 0;
}

.notification.active {
  opacity: 1;
}

/* CSS PARA MOSTRAR LOS PRODUCTOS EN PANTALLA */
.Prod {
  margin: 1rem;
  justify-content: center;

  /*DIVICION DEL CONTENEDOR*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, auto));

  gap: 1.5rem;
  color: black;
}

.Prod_Title,
.Prod_info,
.price {
  margin-left: 10px;
}

.price {
  line-height: 38px;
  font-weight: 600;
}

.P_info {
  position: relative;
  border-radius: 10px;
}

.P_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

  border-bottom: 2px solid var(--ColorPrincipal);
}

.P_info_Text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  border-top: 3px solid var(--ColorPrincipal);
}

.btn_info {
  padding: 0.3rem 1rem;
  background-color: #8c8888;
  color: var(--ColorSecundario);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
}

.btn_info:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* PAGINACION DE LA PAGINA */
.paginacion {
  display: flex;
  padding-bottom: 2rem;

  gap: 0.5rem;

  align-items: center;
  justify-content: center;
}

.pagg_link {
  text-decoration: none;
  color: var(--ColorPrincipal);

  background-color: var(--ColorSecundario);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
}

.pagg_link:hover {
  background-color: #8c8888;
  color: var(--ColorSecundario);
}
