@media only screen and (max-width: 800px) {
  div.info {
    grid-template-columns: repeat(1, 1fr);
    padding: 0.5rem;
  }
}

.main {
  position: absolute;
  top: var(--Top);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -11;
  padding: calc(var(--Padding) * 2);
}

/* titulo de la pagina */
.tittle {
  pointer-events: none;
  user-select: none;
  color: white;

  margin: 1rem;
}

/* div botones de guerdar / eliminar */
.TOTAL {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  color: white;
}

.btn_ocultar,
.btn_mostrar {
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  border: none;

  color: var(--ColorSecundario);
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
}

.btn_ocultar {
  background-color: #c20000;
}

.btn_ocultar:hover {
  background-color: #581845;
}

.btn_mostrar {
  background-color: #00da9d;
}
.btn_mostrar:hover {
  background-color: #195e4b;
}

.table {
  padding: var(--Padding);
}

.main .contenedor-consultar-productos {
  width: 100%;
  height: 100%;
}

.main .contenedor-consultar-productos h1 {
  color: var(--ColorSecundario);
  font-size: 1.7rem;
}
.main .contenedor-consultar-productos .contenedor-tabla-productos {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: var(--Padding);
}
thead {
  background-color: var(--ColorSecundario);
}

td {
  background-color: var(--ColorSecundario);
}

.main
  .contenedor-consultar-productos
  .contenedor-tabla-productos
  .dataTables_wrapper
  .dataTables_length
  label,
.dataTables_filter label,
.dataTables_length label select,
.dataTables_length label {
  color: var(--ColorSecundario);
}
.dataTables_filter label input {
  color: var(--ColorSecundario);
  outline: none;
  border: none;
  margin-bottom: 10px;
}


.dataTables_wrapper .dataTables_length label select {
  background: rgb(97, 95, 95);
}