.main {
  width: 100%;
  margin-top: var(--Top);
  padding: var(--Padding);
}
.main h1 {
  color: var(--ColorSecundario);
  font-weight: 600;
}
.main .contenedor-usuarios {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: var(--Margin);
}

.main .contenedor-usuarios div p {
  color: var(--ColorSecundario);
}
.main .contenedor-usuarios div button,
.main .contenedor-usuarios div input {
  padding:var(--Padding) calc(var(--Padding) / 1.5);
  border-radius: var(--BorderRadius);
  outline: none;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color: var(--ColorSecundario);
}


.main .contenedor-usuarios .opcion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:calc(var(--Padding) / 2);
}
.main .contenedor-usuarios div input {
  background-color: var(--ColorDanger);
  color: var(--ColorSecundario);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main .contenedor-usuarios div button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.main .contenedor-usuarios .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.main .contenedor-usuarios div img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  transition: .3s;
  text-align: center;

}

.main .contenedor-usuarios div img:hover {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 0;
 
}

.main .contenedor-usuarios .imagen p {
  display: none;
}

.main .contenedor-usuarios .header-nombre,
.main .contenedor-usuarios .header-usuario,
.main .contenedor-usuarios .header-imagen,
.main .contenedor-usuarios .header-contra,
.main .contenedor-usuarios .header-correo,
.main .contenedor-usuarios .header-nivel,
.main .contenedor-usuarios .header-opcion {
  border: var(--border) solid var(--ColorSecundario);
  color: var(--ColorSecundario);
  font-weight: 600;
  /*
  font-size: calc(var(--SizeDescripcion) * 1.3);
  */
  padding: var(--Padding) calc(var(--Padding) / 2);
}

.main .contenedor-buscar {
  display: flex;
  flex-direction:row;
  justify-content: end;
}

.main .contenedor-buscar input {
  padding: calc(var(--Padding) / 1.2);
  outline: none;
  border: none;
  border-radius: var(--BorderRadius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}
.main .contenedor-buscar label {
  color: var(--ColorSecundario);
  font-weight: 600;
  
}
.main .contenedor-buscar button {
  padding: calc(var(--Padding) / 1.1) var(--Padding);
  outline: none;
  border: none;
  border-radius: var(--BorderRadius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--ColorSecundario);
  background-color: var(--ColorPrincipal);
  border: var(--border) solid var(--ColorSecundario);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}
.main .contenedor-buscar button:hover {
  color: var(--ColorPrincipal);
  background-color: var(--ColorSecundario);
}

.main .contenedor-usuarios div p {
  text-align: center;
}

.main .contenedor-usuarios div {
  display: flex;
  align-items: center;
  justify-content: center;
  /*border-bottom: var(--border) solid var(--ColorSecundario);*/
}

.contenedor-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: opacity 0.3s;
  display: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contenedor-modal .modal {
  width: 70%;
  background-color: var(--ColorPrincipal);
  display: flex;
  flex-direction: column;
  padding: var(--Padding);
  border-radius: var(--BorderRadius);
  animation: translate 1s 0.3s forwards;
  transform: translateY(-1000px);
}

@keyframes translate {
  to {
    transform: translateY(0);
  }
}
.contenedor-modal .modal h1 {
  color: var(--ColorSecundario);
}
.contenedor-modal .modal form {
  display: flex;
  flex-direction: column;
}
.contenedor-modal .modal form label {
  color: var(--ColorSecundario);
  font-weight: 500;
}
.contenedor-modal .modal form input,
.contenedor-modal .modal form select {
  padding: calc(var(--Padding) / 1.5);
  outline: none;
  border: none;
  border-radius: var(--BorderRadius);
}

.contenedor-modal .modal form .contenedor-button {
  margin-top: var(--Margin);
  width: 100%;
}
.contenedor-modal .modal form .contenedor-button button {
  padding: var(--Padding);
  outline: none;
  border: var(--border) solid var(--ColorSecundario);
  color: var(--ColorSecundario);
  background-color: var(--ColorPrincipal);
  border-radius: var(--BorderRadius);
  cursor: pointer;
  transition: all 0.3s;
}
.contenedor-modal .modal form .contenedor-button button:hover {
  color: var(--ColorPrincipal);
  background-color: var(--ColorSecundario);
}

.contenedor-tabla-usuarios {
  width: 100%;
}
